XRAYNE_API_PORT=8080
ASPNETCORE_URLS=http://+:8080

POSTGRES_DB=xrayne
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

AllowedHosts=*
Docs=true

Jwt__Issuer=XRayne
Jwt__Audience=XRayne
Jwt__Secret=change-this-secret-before-running-outside-local-dev
Jwt__AccessTokenLifetimeMinutes=4320

Cors__SpaOrigins__0=http://localhost:5173
Cors__SpaOrigins__1=http://127.0.0.1:5173

Xray__UseProcessCore=false
XRAYNE_XRAY_DIRECTORY=/app/shared
Xray__FileName=linux_amd64.so
